@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/box-shadow";

$text-color:#000;


@mixin uiSprite{
  /*background:transparent url(../images/ui.png) 0 0 no-repeat;*/
}
/*
@mixin hashtagsFont{
  font-family: "phoreuscherokee",sans-serif;
  font-style: italic;
  font-weight: 300;
}
*/
@mixin headingFont{
  font-family: "leander-script-pro",cursive;
  font-style: normal;
  font-weight: 400;
}

@mixin navFont{
  /*font-family: "franklin-gothic-urw-comp",sans-serif;
  font-style: normal;
  font-weight: 400;*/
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering:optimizeLegibility;
}

@mixin baseFont{
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-weight: 600;
  text-rendering:optimizeLegibility;
}

html{
  font-size:62.5%;
  width:100%;
}
body{
  background: #fff;
  font-size:1em;
  width:100%;
  min-height:100%;
  color:$text-color;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover, a:active, a:focus,input:focus,textarea:focus {
  outline:0;

}

p,input,textarea,label,footer a{
  @include baseFont;
  font-size: 1.4em;
  line-height: 1.5em;
}
p a{

}
strong{
  font-weight: 700;
}

header{
  float: left;
  background-image: url(../img/sprites/logo_text_bw.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #fff;
  margin: 15px 0;
  position: relative;

  nav{
    float: left;
    width: 50%;
    padding: 15px 10%;
    a{
      @include navFont;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      font-size: 1.4em;
      line-height: 1em;
      position: relative;
      padding: 4px 0;
      display: inline-block;
      text-align: center;
      @include text-shadow(rgba(0, 0, 0, 1) 0px 0px 0px);
      float: right;
      margin: 0 1em;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;

      span{
        display: none;
        position: absolute;
        bottom: -11px;
        height: 10px;
        background: #0d889a;
        width: 100%;
      }
      i{
        background-image: url(../img/sprites/navi_ball.png);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        position: absolute;
        right: 0px;
        top:50%;
        height: 4px;
        width: 4px;
        margin-top: -2px;
      }
      &.selected,&:hover{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
      }
    }
    &.main{
      padding-left: 0;
    }
    &.contact{
      float: left;
      width: 50%;
      padding-right: 0;
      a{
        float: left;
      }
    }
  }
  a.home{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 100%;
    top: 0;
  }

}
div.submenu{
  width:100%;
  position: relative;
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  float: none;
}
section{
  width:100%;
  position: relative;
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  float: none;
  h1,p{
    text-align: center;
    width: 50%;
  }

  h1{
    @include headingFont;
    font-size: 7em;
    color: #000;
    float: left;
    @include text-shadow(rgba(0, 0, 0, 0.2) -1px 6px 4px);
    position: relative;
    padding: 20px 10px 40px;
    span{
      font-size: 0.4em;
      vertical-align: middle;
      position: absolute;
      top: 64%;
      left: 38%;
      display: inline-block;
    }
  }

  p{
    padding: 0 2%;
    margin-top: 1em;
    color: #000;
    a{
      color:#000;
      font-weight: 700;
    }
  }

  .imageContainer{
    width: 48%;
    float: left;
    padding: 1px;
    position: relative;
    margin: 0 1% 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 14px;
    background: #f7f7f7;
    margin-bottom: 14px;
    .img{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      z-index: 10;
      .ratioEnforcer{
        content: '';
        padding-top: 66.640625%;
        width: 100%;
        display: block;
      }
      img{
        display: block;
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
      }
      .innerShadow{
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
      }
      /*
      .hashtags{
        width: 100%;
        position: absolute;
        bottom: -32px;
        right: 0;
        z-index: 10;
        //@include transform2d(translate(0, -50%));
        span{
          background-image: url(../img/sprites/curles1.png);
          background-size: contain;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: 100%;
          height: 60px;
          display: none;
          &:nth-child(1){
            background-image: url(../img/sprites/curles2.png);
          }
        }
        ul{
          width: 100%;
          text-align: right;
          padding: 1em 0;
          li{
            width: 100%;
            @include hashtagsFont;
            display: inline;
            text-align: right;
            font-style: italic;
            font-weight: 300;
            color: #fff;
            font-size: 1em;
            padding: 0.2em 1em;
            text-transform: uppercase;
            letter-spacing: 1px;
            @include text-shadow(rgba(0, 0, 0, 0.6) 1px 3px 2px);
          }
        }

      } //.hashtags*/
    } //.img

    .overlay{
      z-index: 4;
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      @include opacity(0.4);
      background: #fff;
    }
    .loadIndicator{
      @include transition-property(opacity);
      @include transition-duration(1s);
      z-index: 100;
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      @include opacity(1);
      background: #fff;
      border: 1px solid #ccc;
      &:before{
        content:"";
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        margin: -14px;
        height: 28px;
        width: 28px;
        animation: rotate 1.2s infinite linear;
        border: 2px solid #ccc;
        border-right-color: transparent;
        border-radius: 50%;
      }

    }
    &.full-width{
      width: 98%;
      padding:60px;
      .img{
        border: 1px solid #fff;
      }
      .bg_img{
        z-index: 2;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:cover;

      }
    }
    &.ratio-3-2{
    }
    &.ratio-16-9{
      .img{
        .ratioEnforcer{
          padding-top: 56.25%;
        }
      }
    }
    &.ratio-1-1{
      width:23%;
      .img{
        float: none;
        margin: 0 auto;
        .ratioEnforcer{
          padding-top: 100%;
        }
      }
    }
    &.ratio-3-1{
      .img{
        .ratioEnforcer{
          padding-top: 33.335%;
        }
      }
    }
    &.ratio-2-3{
      width: 23%;
      .img{
        float: none;
        margin: 0 auto;
        .ratioEnforcer{
          padding-top: 150%;
        }
      }
      /*
      .hashtagsxxx{
        position: relative;
        width: 100%;
        @include transform2d(translate(0,0));
        span{
          height:30px;
        }
        span:first-child{
          display: none;
        }
        ul{
          width: 60%;
          margin: 0 auto;
          overflow: hidden;
          text-align: center;
          li{
            display: inline-block;
            width: auto;
            float: none;
            padding: 0 0.5em;
            line-height: 1.6em;
            font-size: 1.4em;
          }
        }
      }*/
    }
    &.imgRight{
      .img{float:right;}
    }
    &.whiteBorder{
      .img img{
        border: 1px solid #fff;
        border: 1px solid rgba(255, 255, 255, .3);
      }
    }
    &.no-shadow{

    }
    &.forced-ratio-16-9{
      .img{
        overflow: hidden;
        .ratioEnforcer{
          padding-top: 56.25%;
        }
        img{
          height: auto;
        }
      }
      &.align-bottom{
        .img img{
          top:auto;
          bottom:0;
        }
      }
    }
    &.forced-ratio-1-1{
      .img{
        overflow: hidden;
        .ratioEnforcer{
          padding-top: 100%;
        }
        img{
          height: auto;
        }
      }
      &.align-top-third{
        .img img{
          top: -33%;
        }
      }
    }
    &.align-16-9-to-3-2{
      margin-top:2.5%;
    }
    &.force-left{
      float: left;
      clear: left;
    }
    &.force-right{
      float: right;
      clear: right;
    }
    &.highlighted-portrait{
      width:48%;
    }
    &.loading {

    }
    &.loaded{
      .loadIndicator{
        @include opacity(0);
        &:before{
          display: none;
        }
      }
      &.full-width{
        .bg_img{
          -webkit-filter: blur(3px);
          -moz-filter: blur(3px);
          -o-filter: blur(3px);
          -ms-filter: blur(3px);
          filter: blur(3px);
          overflow: hidden;
        }
      }
      .logo{
        background-image: url("../img/sprites/watermark_white.png");
        background-size: contain;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        width: 40px;
        height: 30px;
        position: absolute;
        bottom: 2%;
        left: 2%;
        z-index: 99;
      }
      .overlay{
        @include opacity(0.5);
        background: #fff;

      }
    }
  } //.imgContainer
  &.menu {
    margin-bottom: 20px;
    padding: 0 1% 20px;
    a {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      text-decoration: none;
      h1 {
        text-align: right;
        padding: 0 30px;
        position: absolute;
        right: 50%;
        left: 0%;
        top: 50%;
        margin-top: 0.1em;
        color: #000;
        z-index: 10;
        @include text-shadow(rgba(0, 0, 0, 0.2) -1px 6px 4px);
        @include transform2d(translate(0, -50%));
      }
      .img {
        display: block;
        position: relative;
        float: right;
        width: 50%;
        padding:0 30px;
        background-image: url(../img/front_lapset.jpg);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        position: relative;
        .ratioEnforcer {
          content: '';
          padding-top: 25%;
          width: 100%;
          display: block;
        }
        .shadow {
          position: absolute;
          top:0;
          bottom:0;
          left:30px;
          right: 30px;
          box-shadow: rgba(0, 0, 0, 0.2) -1px 6px 5px;
        }
        &.koirat {
          background-image: url(../img/front_koirat.jpg);
        }
        &.potretit {
          background-image: url(../img/front_potretit.jpg);
        }
        &.haat {
          background-image: url(../img/front_haat.jpg);
        }
        &.maailma {
          background-image: url(../img/front_maailma.jpg);
        }
      }
    }
    &:nth-child(2n) {
      h1 {
        right: 0%;
        left: 50%;
        text-align: left;
      }
      .img {
        float: left;
      }
    }
  }
  &.divider{
    display: none;
  }
  &.info{
    margin-bottom: 40px;
    margin-top: 20px;
    float: left;

  }
} //section

footer{
  float: left;
  width: 100%;
  position: relative;
  background-image: url(../img/sprites/curles2_black.png);
  background-size: 10%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding: 80px 1% 0;
  margin: 20px 0 50px;
  .left,.right{
    width: 50%;
    float:left;
  }
  .left{
    padding-right: 20px;
    h3,a,p{
      text-align: right;
      float: right;
    }
  }
  .right{
    padding-left: 20px;
    padding-bottom: 60px;
    .logo{
      text-decoration: none;
      display: block;
      width: 100px;
      margin-top: 1em;
      img{
        width: 100%;
        height:auto;
      }
    }
  }

  .divider{
    position: absolute;
    top:85px;
    left: 50%;
    bottom: 8em;
    width: 1px;
    background: #000;
  }
  h3{
    font-size: 3em;
    @include headingFont;
    margin-bottom: 1em;
    color: #000;
    width: 100%;
    margin-bottom: 0.5em;
  }
  p{
    color: #000;
    font-size: 1.4em;
    margin-bottom: 1em;
    width: 100%;
  }
  form{
    width:100%;
    float: left;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 5em;
    input,textarea,label{
      width: 100%;
      float: right;
      max-width: 400px;
      margin-bottom: 1em;
      border: 1px solid #000;
      padding: 4px 8px;
      clear: both;
    }
    textarea{
      height: 100px;
      resize: none;
    }
    label{
      border:none;
      padding-left: 0;
      margin-bottom: 0;
    }
    input:placeholder-shown,textarea:placeholder-shown {
      border-color:#bbb;
      color:#000;
    }
    a#sendForm{
      display: inline-block;
      border-radius: 10%;
      margin-bottom: 1em;
      width: auto;
      float: right;
      @include navFont;
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      background: #000;
      color:#fff;
      padding: 10px;
      clear: both;
    }
    a.overlay{
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 4em;
      right: 0;
      display: none;
    }
    p.send-status{
      display: none;
      position: absolute;
      width: 100%;
      bottom:1em;
      right: 0;
    }
    &.sending{
      a.overlay{
        @include opacity(0.8);
        display: block;
        background: #fff;
      }
    }
    &.sending{
      p.send-status.status-sending{
        display: inline-block;
      }
    }
    &.sent{
      p.send-status.status-sent{
        display: inline-block;
      }
    }
    &.invalid{
      p.send-status.status-invalid{
        display: inline-block;
      }
    }
    &.error{
      p.send-status.status-error{
        display: inline-block;
      }
    }
  }

  .photographer{
    width:100%;
    float: left;
    background-image: url(../img/me.jpg);
    background-size: 100px auto;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 120px;
    a{
      color:#000;
      font-size: 1.3em;
      line-height: 1.5em;
      margin-bottom: 1em;
      display: inline-block;
    }
  }
  p.copyright{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
  }
}

a.scroll-nav{
  position:fixed;
  font-family: sans-serif;
  z-index: 999;
  background: #fff;
  color:#000;
  left: 50%;
  width: 50px;
  text-align: center;
  margin-left: -25px;
  bottom: -10px;
  padding: 6px 0 14px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #bbb;
  @include opacity(0);
  @include transition-property(opacity);
  @include transition-duration(1s);
  &.active{
    @include opacity(0.8);
  }
}

body{
  &.page-etusivu{
    a.scroll-nav{
      display: none;
    }
    section.info{
      > *{
        display: none;
      }
      /*background-image: url(../img/sprites/curles2_black.png);
      background-size: 10%;
      background-position: 50% 0%;
      background-repeat: no-repeat;*/
      padding: 20px 0 0;
      margin-bottom: 20px;
      margin-top: 0;
    }
    div.submenu, div.submenu section{
      max-width: 9999px;
    }
  }
}

@media screen and (max-width:1000px){
  header{
    nav{
      padding-left: 8%;
      padding-right: 8%;
      a{
        font-size: 1.3em;
        margin: 0 0.5em;
      }
    }
  }
  section{
    h1{
      font-size: 5em;
    }
    &.info{
      width: 98%;
      margin-left: 1%;
      h1{
        width:33%;
        span{
          top: 55%;
          left: 33%;
          width: 200%;
          text-align: left;
        }
      }
      p{
        margin-top: 0;
        left:33%;
        width: 67%;
        text-align: left;
      }
    }
    &.menu{
      a{
        h1,.img{
          padding-left: 10px;
          padding-right: 10px;
        }
        .img{
          .shadow{
            left:10px;
            right: 10px;
          }
        }
      }
    }
    .imageContainer.full-width{
      padding: 40px;

    }
  }
}
@media screen and (min-width:801px){
  section p{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform2d(translate(0,-50%));
  }

}
@media screen and (max-width:800px){
  header{
    margin: 8px 0;
    nav{
      padding: 10px 8%;
      a{
        font-size: 1.1em;
        margin: 0 0.3em;
      }
      &.contact{
        padding-left: 7%;
      }
    }
    a.home{
      margin-left: -40px;
      width: 80px;
    }
  }
  section{
    &.info {
      margin-bottom: 20px;
      h1 {
        font-size: 5em;
        width: 100%;
        padding-bottom: 14px;
        padding-left: 0;
        text-align: left;
        span {
          position: relative;
          top: auto;
          left: auto;
          padding-left: 0.4em;
          font-size: 0.6em;
          vertical-align: baseline;
          width: auto;
        }
      }
      p {
        width: 100%;
        float: left;
        padding-left: 0;
      }
    }
    &.menu{
      a{
        h1{
          font-size: 4em;
        }
        h1,.img{
          padding-left: 10px;
          padding-right: 10px;
        }
        .img{
          .shadow{
            left:10px;
            right: 10px;
          }
        }
      }
    }

    .imageContainer.full-width{
      padding: 0;
      background: none !important;
    }
  }
  footer{
    margin-top: 20px;
  }
}
@media screen and (min-width:641px){
  section.menu {
    a {
      h1 {
        @include transition-property(margin);
        @include transition-duration(1s);
      }
      .img {
        @include transition-property(transform);
        @include transition-duration(1s);
      }
    }
    &:nth-child(2n) {
      a:hover{
        h1{
          margin-left:20px;
        }
        .img{
          @include transform2d(translate(-20px,0));
        }
      }
    }
    &:nth-child(2n+1) {
      a:hover{
        h1{
          margin-left:-20px;
        }
        .img{
          @include transform2d(translate(20px,0));
        }
      }
    }
  }
}
@media screen and (max-width:640px){
  header{
    background-position: 20px 50%;
    nav{
      width: 100% !important;
      text-align: right;
      padding:0 !important;
      a{
        font-size: 1.4em;
        margin: 0 .8em 0 0;
        float:none;
      }
      &.main{
        margin-top: 4px;
      }
      &.contact{
        a{
          font-size: 1.1em;
          float: none;
        }
      }
    }
    a.home{
      left: 20px;
      margin-left: 0;
    }
  }
  section.info{
    h1{
      span {
        width: 100%;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          overflow: hidden;
        }
      }
    }
    h1,p{
      padding-left: 0;
      text-align: center;
    }
  }
  section.divider{
    padding-top: 30px;
    margin-top: 10px;
  }
  section.menu{
    a h1{
      font-size:4em !important;
    }
  }
  body.page-etusivu{
    section.menu{
      a h1{
        font-size:7em !important;
      }
    }
  }
  @import "submenu";
  footer{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 40px 20px;

    .left,.right{
      width: 100%;
      h3,a,p{
        text-align: center !important;
        float: none !important;
      }
    }
    .left{
      padding-right: 0;
      margin-bottom: 40px;
      form{
        text-align: center;
        input,textarea,label{
          float: none !important;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          max-width: 999px;
          display: block;
        }
      }
    }
    .right {
      padding-left: 0 !important;
      padding-bottom: 30px;
      .logo{
        margin: 0 auto;
      }
    }
    .divider{
      display: none;
    }
    .photographer{
      background: none;
      padding-right: 0;
      p,a{
        width: 100%;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width:450px) {
  header {
    margin-top: 10px;
    background-position: 95% 50%;
    background-size: 20%;
    nav {
      a {
        font-size: 1.4em;
        margin: 0 .8em 0 0;
        float: left;
        clear: both;
      }
      &.main {
        padding-left: 20px !important;
        width: 40% !important;
        float: left;
        margin-top: 0;
      }
      &.contact {
        width: 60% !important;
        margin-top: 2.7em;
        float: left;
        a {
          font-size: 1.1em;
          float: left;
        }
      }
    }
    a.home {
      left: auto;
      right: 0;
      width: 120px;
      margin-left: 0;
    }
  }
}

body.page-lapset,body.page-koirat,body.page-haat,body.page-potretit,body.page-maailma{
  @import "submenu";
  section.menu{
    width: 50%;
    float: left;
    .img{
      padding: 0;
      .shadow{
        left:0;
        right:0;
      }
    }
  }
  section.divider{
    display: block;
    background-image: url(../img/sprites/curles2_black.png);
    background-size: 10%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding: 60px 0 0;
    margin: 40px auto 10px;
  }
}
body.page-lapset{
  section.menu.lapset{
    display: none;
  }
}
body.page-koirat{
  section.menu.koirat{
    display: none;
  }
}
body.page-haat{
  section.menu.haat{
    display: none;
  }
}

body.page-potretit{
  section.menu.potretit{
    display: none;
  }
}

body.page-maailma{
  section.menu.maailma{
    display: none;
  }
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/*
.imageContainer{
    width: 48%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 2px;
    position: relative;
    background: none !important;
    margin: 0 1% 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    .img{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      z-index: 10;
      box-shadow: inset rgba(0, 0, 0, 0.4) 0px 10px 10px;
      img{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .inner-shadow{
          z-index: 20;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
          opacity: 0.4;
          box-shadow: inset 0 0 10px #000000;
      }
    }
}
*/
